.disabled-row {
    background: var(--label-badget-color) !important;
    color: var(--dark-gray);
}

#main-button-wrapper {
  margin-top: 10px;
  margin-bottom: 40px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  #main-button-wrapper {
    margin-bottom: 120px;
  }
}

.ibox {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}
