<ng-content></ng-content>
<app-my-table-internal
  [emptyMessage]="emptyMessage"
  [items]="items"
  [serviceUrl]="serviceUrl"
  [columns]="columns"
  [srcId]="srcId"
  [hideExport]="hideExport"
  [lazy]="lazy"
  [filterCriteria]="filterCriteria"
  [first]="first"
  [totalRecords]="totalRecords"
  [rowStyleClass]="rowStyleClass"
  [loading]="loading"
  (loadLazy)="loadLazy($event)"
  (edit)="onEdit($event)"></app-my-table-internal>
<div class="row" *ngIf="!hideCreate">
  <app-button
    [wrapperStyle]="wrapperStyle"
    (onClick)="onCreate()"
    icon="fa-plus"
    [label]="createLabel"></app-button>
</div>
