<div class="loading-container m-b" [class.sk-loading]="loading">
  <ng-content></ng-content>
  <app-spinner></app-spinner>
  <app-my-table-internal
    [emptyMessage]="emptyMessage"
    [items]="items"
    [serviceUrl]="serviceUrl"
    [getAllUrl]="getAllUrl"
    [filterUrl]="filterUrl"
    [columns]="columns"
    [srcId]="srcId"
    [hideExport]="hideExport"
    [slim]="slim"
    [lazy]="lazy"
    [filterCriteria]="filterCriteria"
    [callback]="callback"
    [first]="first"
    [totalRecords]="totalRecords"
    [rowStyleClass]="rowStyleClass"
    (loadLazy)="loadLazy($event)"
    (edit)="onEdit($event)"></app-my-table-internal>
</div>
<div class="row" *ngIf="!hideCreate">
  <app-button
    [wrapperStyle]="'col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1'"
    (onClick)="onCreate()"
    icon="fa-plus"
    [label]="createLabel"></app-button>
</div>

