<app-ibox [title]="title">
  <ng-content select="[filter]"></ng-content>
  <div class="ibox-content">
    <p-dataTable [value]="items"
                 [paginator]="true"
                 [emptyMessage]="'Nie znaleziono rekordów. Zmień kryteria wyszukiwania.'"
                 [rows]="20"
                 [responsive]="true">
      <p-column [sortable]="!col.notSortable" *ngFor="let col of columns" [field]="col.field" [header]="col.header">

        <ng-template *ngIf="col.date" let-item="rowData" pTemplate type="body">
          {{item[col.field] | date:'dd-MM-yyyy HH:mm' }}
        </ng-template>

        <ng-template *ngIf="col.isEnabledLabel" let-item="rowData" pTemplate type="body">
          {{item[col.field] | yesNo }}
        </ng-template>

        <ng-template *ngIf="col.cellRenderer" let-item="rowData" pTemplate type="body">
          {{col.cellRenderer(item[col.field])}}
        </ng-template>
      </p-column>
    </p-dataTable>
    <ng-content></ng-content>
  </div>
</app-ibox>
