<app-form-group [label]="label" [error]="error" [required]="required">
  <!--suppress HtmlUnknownAttribute -->
  <input
    [(ngModel)]="value"
    (blur)="onBlur()"
    [typeahead]="dataSource"
    (typeaheadLoading)="changeTypeAheadLoading($event)"
    (typeaheadOnSelect)="typeAheadOnSelect($event)"
    typeaheadOptionField="klientNazwa"
    placeholder="Zacznij pisać, aby wyszukać"
    typeaheadWaitMs="200"
    [disabled]="formControl.disabled"
    class="form-control">
  <ng-content></ng-content>
  <div [ngClass]="{visible: this.loading}" class="auto-complete-button loader"></div>
  <button
    *ngIf="!formControl.disabled"
    class="no-bg fa fa-close auto-complete-clear-button"
    [ngClass]="{visible: !!value}"
    type="button"
    (click)="clear()"
  ></button>
</app-form-group>
