<p-dataTable
  #dt
  [reorderableColumns]="true"
  [resizableColumns]="true"
  [value]="items"
  [emptyMessage]="emptyMessage"
  [rows]="20"
  [lazy]="lazy"
  [(first)]="first"
  [scrollable]="false"
  [virtualScroll]="false"
  scrollHeight="400px"
  csvSeparator=";"
  [totalRecords]="totalRecords"
  [rowStyleClass]="rowStyleClass"
  (onRowClick)="edit.emit($event)"
  (onLazyLoad)="loadLazy.emit($event)"
  [loading]="loading"
  loadingIcon="fa-spinner"
  [responsive]="true">
  <p-header class="ui-helper-clearfix">
    <div class="col-xs-12 col-sm-6 col-md-3 m-b-xs">
      <p-multiSelect
        defaultLabel="Wybierz kolumny"
        [options]="columnOptions"
        (ngModelChange)="onSelectedColumnsChange($event)"
        [ngModel]="selectedColumns"
        optionLabel="header"
        scrollHeight="1000px"
        selectedItemsLabel="{0} wybranych elementów"></p-multiSelect>
    </div>
    <app-excel-btn (onExport)="exportCSV()" *ngIf="!hideExport"></app-excel-btn>
  </p-header>
  <p-column
    [hidden]="col.hideOnMobile && isMobile"
    [sortable]="!col.notSortable"
    *ngFor="let col of selectedColumns"
    [field]="col.field"
    [header]="col.header"
    [styleClass]="col.styleClass"
    [filter]="lazy && col.filter !== false">

    <ng-template *ngIf="col.date" let-item="rowData" pTemplate type="body">
      {{item[col.field] | datex:'DD-MM-YYYY HH:mm' }}
    </ng-template>

    <ng-template *ngIf="col.isEnabledLabel" let-item="rowData" pTemplate type="body">
      {{item[col.field] | yesNo }}
    </ng-template>

    <ng-template *ngIf="col.cellRenderer" let-item="rowData" pTemplate type="body">
      {{col.cellRenderer(item[col.field])}}
    </ng-template>

    <ng-template *ngIf="col.filterType === 'number'" pTemplate="filter" let-col>
      <i class="fa fa-close" (click)="clearNumberFilter(dt, col)"></i>
      <br />
      <input type="number"
        placeholder="Od"
        [ngModel]="numberFilter[col.field + 'From']"
        (ngModelChange)="onNumberChange($event, dt, col, 'greaterThanOrEqual')"
        [min]="0"
        [max]="100000"
        class="ui-column-filter ui-inputtext ui-widget ui-corner-all number-filter"
      />
      <input type="number"
        class="ui-column-filter ui-inputtext ui-widget ui-corner-all number-filter"
        placeholder="Do"
        [ngModel]="numberFilter[col.field + 'To']"
        (ngModelChange)="onNumberChange($event, dt, col, 'lessThanOrEqual')"
        [min]="0"
        [max]="100000"
      />
    </ng-template>

  </p-column>
  <!-- do wywalenia kiedy będzie TurboTable -->
  <p-footerColumnGroup *ngIf="items.length && sums">
    <p-row>
      <p-column footer="Suma:" colspan="5"></p-column>
      <p-column [footer]="sums.driveTimeSum"></p-column>
      <p-column [footer]="sums.haltTimeSum"></p-column>
      <p-column [footer]="sums.kmCountSum"></p-column>
      <p-column [footer]="sums.amountSum"></p-column>
    </p-row>
  </p-footerColumnGroup>
  <p-footer></p-footer>
</p-dataTable>
