<ng-content select="[filter]"></ng-content>
<div class="loading-container m-b" [class.sk-loading]="loading">
  <app-spinner></app-spinner>
  <app-my-table-internal
    [emptyMessage]="emptyMessage"
    [items]="items"
    [serviceUrl]="serviceUrl"
    [getAllUrl]="getAllUrl"
    [filterUrl]="filterUrl"
    [columns]="columns"
    [srcId]="srcId"
    [hideExport]="hideExport"
    [slim]="slim"
    [lazy]="lazy"
    [filterCriteria]="filterCriteria"
    [callback]="callback"
    [first]="first"
    [totalRecords]="totalRecords"
    (loadLazy)="loadLazy($event)"></app-my-table-internal>
  <ng-content></ng-content>
</div>
