<!--suppress HtmlUnknownAttribute -->
<ng-content select="[filter]"></ng-content>
  <app-my-table-internal
    [emptyMessage]="emptyMessage"
    [items]="items"
    [serviceUrl]="serviceUrl"
    [columns]="columns"
    [srcId]="srcId"
    [hideExport]="hideExport"
    [lazy]="lazy"
    [filterCriteria]="filterCriteria"
    [first]="first"
    [loading]="loading"
    [sums]="sums"
    [totalRecords]="totalRecords"
    [customExport]="customExport"
    (loadLazy)="loadLazy($event)"></app-my-table-internal>
  <ng-content></ng-content>
