<app-ibox [title]="title" [helpContent]="helpContent">
  <div class="ibox-content">
    <p-dataTable [value]="items"
                 [emptyMessage]="emptyMessage"
                 [paginator]="true"
                 [rows]="20"
                 (onRowClick)="onEdit($event)"
                 [rowStyleClass]="rowStyleClass"
                 [responsive]="true">
      <p-column *ngFor="let col of columns" [field]="col.field" [header]="col.header"></p-column>
    </p-dataTable>
  </div>
  <div class="row">
    <app-button [wrapperStyle]="'col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1'"
                (onClick)="onCreate($event)"
                [label]="createLabel"></app-button>
  </div>
</app-ibox>
