
.ui-fileupload-content {
  min-height: 60px;
}

body .ui-fileupload .ui-button {
  background-color: var(--accent);
}

body .ui-fileupload .ui-button:hover {
  background-color: #18a689;
}

body .ui-datatable.ui-datatable-scrollable .ui-datatable-footer.ui-widget-header {
  border: 1px solid #cdcdcd;
}

body .ui-datatable-scrollable-wrapper {
  border-right: 1px solid #cdcdcd;
}

body .ui-datatable-scrollable-body {
  overflow-x: hidden;
}

body .ui-multiselect .ui-multiselect-label {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}

body .ui-multiselect {
  float: left;
  width: 100%;
}

.ui-datatable-reflow .ui-datatable-data > tr > td.ui-datatable-emptymessage {
  text-align: center;
}
