:root {
  --navy: #1ab394;
  --dark-gray: #c2c2c2;
  --blue: #1c84c6;
  --lazur: #23c6c8;
  --yellow: #f8ac59;
  --red: #ED5565;
  --text-color: #676a6c;
  --gray: #f3f3f4;
  --white: #fff;
  --black: #000;
  --gray-300: #dee2e6;
  --light-gray: #D1DADE;
  --label-badget-color: #5E5E5E;
  --light-blue: #f3f6fb;
  --spin-margin: 0 auto;
  --border-color: #e7eaec;
  --ibox-title-bg: #ffffff;
  --ibox-content-bg: #ffffff;
  --sidebar-width: 0;
  --boxed-width: 1200px;
  --btn-border-radius: 3px;
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --screen-xs-max: 767px;
  --screen-sm-max: 991px;
  --screen-md-max: 1199px;
  --primary-color-dark: #293846;
  --primary-color: #2f4050;
  --text-muted: #8095a8;
  --nav-text-color: #a7b1c2;
  --logo-color: #e6e6e6;
  --footer-color: #fff;
  --secondary-color: #fff;
  --accent: #1ab394;
  --accent-dark: #18a689;
  --error-color: #b61d00;
  --required-label: #003a99;
  --font-size-base: 1rem;
  --spacer: 1rem;
  --line-height-base: 1.5;
  --navbar-nav-link-padding-x: .5rem;
  --nav-link-padding-y: .5rem;
  --navbar-toggler-padding-y: .25rem;
  --navbar-toggler-padding-x: .75rem;
  --border-width: 1px;
  --border-radius: .25rem;
}
