// libs
@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.css";
@import "~primeng/resources/themes/bootstrap/theme.css";
@import "~ngx-toastr/toastr.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../../flota-web-inspina/index";

// overrides
@import "assets/variables-css.css";
@import "assets/toast-override.css";
@import "assets/prime-ng-override.css";
@import "assets/bs-datepicker-override";
@import "assets/ngx-bootstrap-override.css";

.auto-complete-clear-button {
  right: 15px;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  display: none;
}

.auto-complete-clear-button.visible {
  display: block;
}
