@import "../../../../../flota-web-inspina/assets/inspina/variables";

.error-statement {
  text-align: center;
  color: $error-color;
  font-weight: bold;
}

.center-block.error-statement.animated {
  animation-duration: 1s;
}
