<!--suppress HtmlFormInputWithoutLabel, XmlDuplicatedId -->
<app-form-group [for]="id" [label]="label" [error]="locIsError()" [required]="required">
  <input
    *ngIf="myMobileDetectService.isMobile"
    id="{{id}}"
    type="date"
    autocomplete="off"
    class="form-control"
    [disabled]="formControl.disabled"
    [placeholder]="placeholder"
    [(ngModel)]="mobileValue">
  <input
    *ngIf="!myMobileDetectService.isMobile"
    id="{{id}}"
    type="text"
    autocomplete="off"
    class="form-control"
    #dp="bsDatepicker"
    bsDatepicker
    [disabled]="formControl.disabled"
    [placeholder]="placeholder"
    [(ngModel)]="value">
  <app-error-boxes [submitted]="submitted" [control]="formControl" [config]="config"></app-error-boxes>
  <button
    *ngIf="!formControl.disabled"
    class="no-bg fa fa-close auto-complete-clear-button"
    [ngClass]="{visible: !!value}"
    type="button"
    (click)="clear()"
  ></button>

</app-form-group>
