<app-form-group [for]="id" [label]="label" [error]="locIsError()" [required]="required">
  <!--suppress HtmlFormInputWithoutLabel -->
  <input
    id="{{id}}"
    type="text"
    class="form-control"
    #dp="bsDatepicker"
    bsDatepicker
    [disabled]="disabled"
    [placeholder]="placeholder"
    [(ngModel)]="value">
  <app-error-boxes [submitted]="submitted" [control]="formControl" [config]="config"></app-error-boxes>
  <button
    *ngIf="!disabled"
    class="no-bg glyphicon glyphicon-remove auto-complete-clear-button"
    [ngClass]="{visible: !!value}"
    type="button"
    (click)="clear()"
  ></button>

</app-form-group>
